<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agro Mitra</title>
    <meta name="description"
        content="This website contains information that can be used to by farmers and which is very helpful in order to achieve maximum yield.">

    <!-- CSS Connection -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <!-- Navbar-fixed -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
        <div class="container">
            <a href="#" class="navbar-brand">Agro Mitra🌾</a>
            <button type="button" class="navbar-toggler bg-dark" data-bs-target="#navbarNav" data-bs-toggle="collapse"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mx-auto"></div>
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link text-white">Home</a></li>
                    <li class="nav-item"><a href="/crop-information/info.html"
                            class="nav-link text-white">Information</a></li>
                    <li class="nav-item"><a href="#about-us" class="nav-link text-white">About Us</a></li>
                    <li class="nav-item"><a href="#contact" class="nav-link text-white">Questions</a></li>
                </ul>
            </div>
        </div>
    </nav>




    <!-- Banner Image -->
    <div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center" style=" background-image: url('../static/assets/agri.webp');
    background-size: cover;">
        <div class="content-text center">
            <!-- Add youtube video here -->
            <iframe width="650" height="350" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=0">
            </iframe>
            <h1 class="text-white" style="text-align: center;">How to use this website?</h1>
        </div>
    </div>






    <!-- Basic Description about the website -->
    <div class="container my-5 d-grid gap-5">
        <div class="p-5-border" style="text-align: justify ; margin-left: 70px;  padding: 2px 8px 5px 5px;">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque dolorum, at ducimus recusandae
                magnam exercitationem optio voluptates provident aliquid sequi qui sapiente? Ex doloremque reiciendis
                optio modi a eaque sint. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam doloribus vitae,
                esse saepe deserunt quaerat distinctio, quisquam exercitationem suscipit vel, et harum a commodi ad
                molestiae sit velit blanditiis assumenda eveniet cumque enim? Consectetur quae ad et aut culpa qui,
                , porro ullam pariatur quasi dolorem voluptatem. Omnis quibusdam
                vero suscipit officiis, maiores veritatis laboriosam accusantium, placeat accusamus temporibus sint
                fugit ex at similique labore ab quis vitae tempora rerum nam, repellendus inventore recusandae? Fuga
                quae, assumenda reprehenderit temporibus deserunt, ea cumque vel
                at architecto quo. Recusandae fuga quas at exercitationem consequatur nam vel sed cupiditate est, sequi
                facere placeat illo quis excepturi iusto nesciunt ex hic!</p>
        </div>
    </div>








    <!-- Main Options - Learn, Perdict, Disease -->
    <h2 style="text-align: center; margin-bottom: 30px;">Learn, Predict and Detect!</h2>
    <div class="row" style="margin-left: 110px;">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="../static/assets/learn.webp" class="card-img-top" alt="..." height="200" width="200">
                <div class="card-body">
                    <h5 class="card-title">Information</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="./info.html" class="btn btn-warning">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="padding: 0 0 0 30px;">
            <div class="card" style="width: 18rem; ">
                <img src="../static/assets/predict.jpg" class="card-img-top" alt="..." height="200" width="200">
                <div class="card-body">
                    <h5 class="card-title">Crop Prediction</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="./prediction.html" class="btn btn-info">Perdict</a>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="padding: 0 0 0 50px;">
            <div class="card" style="width: 18rem;">
                <img src="../static/assets/leaf.webp" class="card-img-top" alt="..." height="200" width="200">
                <div class="card-body">
                    <h5 class="card-title">Disease Detection</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="./disease.html" class="btn btn-danger">Detect</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Ask Questions -->
    <div style="margin-left: 110px;">
        <h2 style="text-align: center; margin-top: 40px;">Ask Questions</h2>
        <p style="text-align: center; ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur.</p>

        <div style="margin-left:110px; margin-top:30px; margin-bottom:30px;  width: 65%; height: 90%;">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Contact Number</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                    style="height: 100px"></textarea>
                <label for="floatingTextarea2">Comments</label>
            </div><br>
            <button class="btn btn-info btn-lg" type="submit">Submit</button>

        </div>

    </div>








    <!-- About Us -->
    <div style="margin-left: 110px; ">
        <h1 style="text-align: center; margin-top: 60px; margin-bottom: 30px;">About Us!</h1>
    </div>
    <div class="row">
        <div class="card__abtus" style="margin-left: 100px; margin-right: 10px;">
            <img src="../static/assets/profile pic.jpeg" alt="Dev" style="width:100%">
            <h2>Devyani Thokal</h2>
            <p class="title__abtus">Web Developer</p>
            <p>VIT, Pune</p>
            <div>
                <a class="a__abtus" href="https://www.linkedin.com/in/devyani-thokal/"><i
                        class="fa fa-dribbble"></i></a>
                <a class="a__abtus" href="https://www.linkedin.com/in/devyani-thokal/"><i class="fa fa-twitter"></i></a>
                <a class="a__abtus" href="https://www.linkedin.com/in/devyani-thokal/"><i
                        class="fa fa-linkedin"></i></a>
                <a class="a__abtus" href="https://www.linkedin.com/in/devyani-thokal/"><i
                        class="fa fa-facebook"></i></a>
            </div>
            <p><button style="width: 100%; ">Contact</button>
            </p>
        </div>
        <div class="card__abtus" style="margin: 10px;">
            <img src="../static/assets/profile pic.jpeg" alt="Dev" style="width:100%">
            <h2>Devyani Thokal</h2>
            <p class="title__abtus">Web Developer</p>
            <p>VIT, Pune</p>
            <div>
                <a class="a__abtus" href="https://www.linkedin.com/in/devyani-thokal/"><i
                        class="fa fa-dribbble"></i></a>
                <a class="a__abtus" href="https://www.linkedin.com/in/devyani-thokal/"><i class="fa fa-twitter"></i></a>
                <a class="a__abtus" href="https://www.linkedin.com/in/devyani-thokal/"><i
                        class="fa fa-linkedin"></i></a>
                <a class="a__abtus" href="https://www.linkedin.com/in/devyani-thokal/"><i
                        class="fa fa-facebook"></i></a>
            </div>
            <p><button style="width: 100%; ">Contact</button>
            </p>
        </div>
        <div class="card__abtus" style="margin: 10px;">
            <img src="../static/assets/profile pic.jpeg" alt="Dev" style="width:100% ;">
            <h2>Devyani Thokal</h2>
            <p class="title__abtus">Web Developer</p>
            <p>VIT, Pune</p>
            <div>
                <a class="a__abtus" href="https://www.linkedin.com/in/devyani-thokal/"><i
                        class="fa fa-dribbble"></i></a>
                <a class="a__abtus" href="https://www.linkedin.com/in/devyani-thokal/"><i class="fa fa-twitter"></i></a>
                <a class="a__abtus" href="https://www.linkedin.com/in/devyani-thokal/"><i
                        class="fa fa-linkedin"></i></a>
                <a class="a__abtus" href="https://www.linkedin.com/in/devyani-thokal/"><i
                        class="fa fa-facebook"></i></a>
            </div>
            <p><button style="width: 100%; ">Contact</button>
            </p>
        </div>
        <div class="card__abtus" style="margin: 10px;">
            <img src="../static/assets/profile pic.jpeg" alt="Dev" style="width:100%">
            <h2>Devyani Thokal</h2>
            <p class="title__abtus">Web Developer</p>
            <p>VIT, Pune</p>
            <div>
                <a class="a__abtus" href="https://www.linkedin.com/in/devyani-thokal/"><i
                        class="fa fa-dribbble"></i></a>
                <a class="a__abtus" href="https://www.linkedin.com/in/devyani-thokal/"><i class="fa fa-twitter"></i></a>
                <a class="a__abtus" href="https://www.linkedin.com/in/devyani-thokal/"><i
                        class="fa fa-linkedin"></i></a>
                <a class="a__abtus" href="https://www.linkedin.com/in/devyani-thokal/"><i
                        class="fa fa-facebook"></i></a>
            </div>
            <p><button style="width: 100%; ">Contact</button>
            </p>
        </div>
    </div>






    <!-- Whatsapp and email link buttons -->
    <h1 style="text-align: center; margin-top: 60px; margin-bottom: 30px;">Send us message!</h1>
    <div class="container__buttons">
        <a href="mailto:thokaldevyani123@gmail.com?subject = Feedback&body = Message " class="btn btn-primary"
            style=" left: 30%; position: absolute;">
            Send your Queries via Mail
        </a>
        <a href="https://wa.me/+919359619652" class="btn btn-success" style=" left: 55%; position: absolute;">
            Send your Queries via Whatsapp
        </a><br>
    </div>
    <br><br><br><br>

    <!-- Footer -->
    <footer style="text-align: center;">&copy; 2022-23 Copyright Agro Mitra. All rights reserved</footer>







    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
        </script>
    <script>
        var nav = document.querySelector('nav');
        window.addEventListener('scroll', function () {
            if (window.pageYOffset > 0) {
                nav.classList.add("bg-dark", 'shadow');
            } else {
                nav.classList.remove('bg-dark', 'shadow');
            }
        })
    </script>
</body>

</html>